# NaN analysis

## 1. Reading table

In [1]:
from runner import io
pantanal_df = io.load_table("domain", "pantanal")

In [2]:
pantanal_df

,location,year,crop,area_ha,type,quantidade_ton,numero_cabecas
5105,Aquidauana (MS),1985,Arroz (em casca),NaN,temporario,1575.0,NaN
5111,Bodoquena (MS),1985,Arroz (em casca),NaN,temporario,2000.0,NaN
5122,Corumbá (MS),1985,Arroz (em casca),NaN,temporario,0.0,NaN
5124,Coxim (MS),1985,Arroz (em casca),NaN,temporario,9924.0,NaN
5144,Ladário (MS),1985,Arroz (em casca),NaN,temporario,0.0,NaN
...,...,...,...,...,...,...,...
194579,Itiquira (MT),2020,Bovino,NaN,pecuaria,NaN,336622.0
194587,Lambari D'Oeste (MT),2020,Bovino,NaN,pecuaria,NaN,161266.0
194596,Nossa Senhora do Livramento (MT),2020,Bovino,NaN,pecuaria,NaN,185903.0
194616,Poconé (MT),2020,Bovino,NaN,pecuaria,NaN,531977.0
194646,Santo Antônio do Leverger (MT),2020,Bovino,NaN,pecuaria,NaN,525760.0

## 2. Analysis

### 2.1 General view

In [3]:
pantanal_df.query('type != "pecuaria"').isna().mean()

location          0.000000
year              0.000000
crop              0.000000
area_ha           0.115278
type              0.000000
quantidade_ton    0.044097
numero_cabecas    1.000000
dtype: float64

In [4]:
pantanal_df.query('type == "pecuaria"').isna().mean()

location          0.000000
year              0.000000
crop              0.000000
area_ha           1.000000
type              0.000000
quantidade_ton    1.000000
numero_cabecas    0.017857
dtype: float64

### 2.2 By year view

In [5]:
(
    pantanal_df
    .query('type == "pecuaria"')
    [pantanal_df.query('type == "pecuaria"').numero_cabecas.isna()]
    .groupby(['year'])
    .location.count()
)

year
1986    2
1987    2
1988    2
1989    1
1990    1
1991    1
1992    1
Name: location, dtype: int64

In [6]:
(
    pantanal_df
    .query('type != "pecuaria"')
    [pantanal_df.query('type != "pecuaria"').quantidade_ton.isna()]
    .groupby(['year'])
    .location.count()
)

year
1985    22
1986    24
1987    24
1988    24
1989    16
1990    20
1991    20
1992    18
1993     8
1994     8
1995     8
1996    10
1997     8
1998     2
1999     2
2000     2
2001     2
2002     4
2003     2
2004     2
2005     2
2006     2
2007     2
2008     2
2009     2
2010     2
2011     2
2012     2
2013     2
2014     2
2015     2
2016     2
2017     2
2018     2
Name: location, dtype: int64

### 2.3 By location view

In [7]:

(
    pantanal_df
    .query('type == "pecuaria"')
    [pantanal_df.query('type == "pecuaria"')
     .numero_cabecas.isna()]
    .groupby(['location'])
    .year
    .count()
)

location
Lambari D'Oeste (MT)    7
Sonora (MS)             3
Name: year, dtype: int64

In [8]:

(
    pantanal_df
    .query('type != "pecuaria"')
    [pantanal_df.query('type != "pecuaria"')
     .quantidade_ton.isna()]
    .groupby(['location'])
    .year
    .count()
)

location
Corumbá (MS)                     24
Coxim (MS)                        4
Itiquira (MT)                     8
Ladário (MS)                     16
Lambari D'Oeste (MT)             80
Miranda (MS)                      4
Porto Murtinho (MS)              48
Rio Verde de Mato Grosso (MS)    10
Sonora (MS)                      60
Name: year, dtype: int64

### 2.4 By crop view

In [9]:
(
    pantanal_df
    .query('type != "pecuaria"')
    [pantanal_df.query('type != "pecuaria"').quantidade_ton.isna()]
    .groupby(['crop'])
    .year
    .count()
)

crop
Algodão herbáceo (em caroço)    12
Arroz (em casca)                12
Café (em grão) Total            79
Cana-de-açúcar                  12
Feijão (em grão)                12
Laranja                         79
Mandioca                        12
Milho (em grão)                 12
Soja (em grão)                  12
Trigo (em grão)                 12
Name: year, dtype: int64